*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    font-family: 'Noto Sans', sans-serif;
}

#mainContainer {
    width: 100vw;
    height: 100vh;
}

#headerContainer {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding-left: 1%;
    color: #849dcb;
    background-color: #e9edf5;
    border-bottom: 3px solid #37BEB0;
}

#title {
    font-size: 3rem;
}

#contentContainer {
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: start;
    overflow: hidden;
}

#sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 2;
    width: 200px;
    height: 60vh;
    pointer-events: none;
}

.sidebarTab {
    display: flex;
    align-items: center;
    height: 45px;
    width: 200px;
    font-size: 1rem;
    pointer-events: auto;
    color: #849dcb;
}

.projectTab {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20%;
    height: 45px;
    width: 200px;
    font-size: 1rem;
    pointer-events: auto;
    color: #849dcb;
}

#folderLogo {
    padding-left: 5px;
}

#folderContainer {
    padding-left: 2%;
}

.categories {
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: #849dcb;
    background-color: #DBE4F5;
}

.categories > p {
    padding-top: 3px;
}

.icons {
    width: 30px;
    height: 30px;
    margin-right: 5%;
}

.bigIcons {
    width: 60px;
    height: 60px;
}

.plusIcon {
    width: 70px;
    height: 70px;
}

#addTaskForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 0;
    height: 0;
    top: 30%;
    left: 40%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #e9edf5;
    border: 1px solid #98b3e4; 
}

#filterForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 0;
    height: 0;
    top: 30%;
    left: 40%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #e9edf5;
    border: 1px solid #98b3e4; 
}

#listHeader {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    width: 1100px;
    height: 10%;
    justify-content: start;
    align-items: center;
}

.headerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    text-align: center;
    color: #37BEB0;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #dbf7f4;
}

.headerItem:hover {
    background-color: #c3f1ec;
}

#filterIcon {
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 5%;
    right: 5%;
}

#addIcon {
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 5%;
    right: 10%;
}

.listTemplate {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    width: 1100px;
    height: 10%;
    justify-content: start;
    align-items: center;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22.5px;
    text-align: center;
}

.listTemplate:nth-child(even) {
    background-color: #eafdfc;
}

.listTemplate:hover {
    background-color: #c3f1ec;
}


/* #nameHeader {
    padding-top: 20%;
} */

/*Radio button styling*/
.radio {
	position: relative;
	display: block;
}

input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}

.headerLabel {
    display: inline-block;
    padding-top: 11px;
    width: 100%;
    height: 45px;
    cursor: pointer;
    text-align: center;
}

.radio:checked + .headerLabel{
    transition: 0.3s;
    background-color: #c3f1ec;
}

.radioLabel {
    display: inline-block;
    padding-top: 14px;
    padding-left: 20%;
    width: 200px;
    height: 45px;
    cursor: pointer;
    text-align: start;
}

.radioLabel:hover {
    background-color: #e9edf5;
}

.radio:checked + .radioLabel{
    background-color: #e9edf5;
}

.projectTab:hover {
    background-color: #e9edf5;
}

.addHover:hover {
    background-color: #e9edf5;  
}

#editTaskForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 0;
    height: 0;
    top: 30%;
    left: 40%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #e9edf5;
    border: 1px solid #98b3e4;
}

.input {
    width: 50%;
    height: 20px;
    margin-left: 10%;
}

.inputField {
    width: 80%;
    height: 20px;
    margin-left: 10%;
    margin-top: 0.25%;
    margin-bottom: 3%;
    border: 1px solid #98b3e4;
    outline: none;
}

.inputField:active {
    outline: 2px solid #98b3e4;
}

.inputField:focus {
    outline: 2px solid #98b3e4;
}

.formTitle {
    margin-top: 10%;
    margin-bottom: 6%;
    color: #444444;
    font-size: 2.1rem;
    text-align: center;
}

.formButton {
    width: 40%;
    height: 25px;
    color: #444444;
    border: 1px solid #98b3e4;
    background-color: #DBE4F5;
}

.cancelButton {
    width: 40%;
    height: 25px;
    color: #444444;
    border: 1px solid #f4846b;
    background-color: #fdd1c8;
}

.buttonContainer {
    display: flex;
    width: 100%;
    margin-top: 5%;
    align-items: center;
    justify-content: space-evenly;
}

fieldset {
    border: 1px solid #98b3e4;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
}

.editorButton{
    position: absolute;
    border-left: 2.5px solid #37BEB0;
    right: -22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.5px;
    height: 22.5px;
    background-color: #fdd1c8;
}

.editorButton:hover {
    background-color: #f4846b;
}

.smallIcons {
    width: 20px;
    height: 20px;
}