*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    border: 2px solid red;
}

:root {
    font-family: 'Noto Sans', sans-serif;
}

#mainContainer {
    width: 100vw;
    height: 100vh;
}

#headerContainer {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding-left: 1%;
    border-bottom: 3px solid #37BEB0;
}

#title {
    font-size: 3rem;
}

#contentContainer {
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: start;
}

#sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 2;
    width: 100%;
    height: 100vh;
    border-right: 3px solid #37BEB0;
    padding-top: 5%;
}

.sidebarTab {
    display: flex;
    align-items: center;
    height: 10%;
    width: 80%;
    font-size: 1.5rem;
}

.icons {
    width: 30px;
    height: 30px;
    margin-right: 5%;
}

#addTaskForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #DBF5F0;
    border: 1px solid #37BEB0; 
}

#filterForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #DBF5F0;
    border: 1px solid #37BEB0;
}

#listHeader {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5%;
    width: 50%;
}




/*Radio button styling*/
.radio {
	position: relative;
	display: block;
}

input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}

.radioLabel {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5em;
    cursor: pointer;
    color: #444444;
    background: #DDDDDD;
    border: 2px solid #888888;
    text-align: center;
}

.radioLabel:hover {
    transition: 0.3s;
    background-color: #f8b444;
}

.radio:checked + .radioLabel{
    transition: 0.3s;
    background-color: #f8b444;
}